# Node.js/React
node_modules/
dist/
build/
.env
.env.*
!.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tsconfig.tsbuildinfo

# Move/Aptos build artifacts
smart-contracts/build/
move/target/
*.mv
*.mvsm
*.yaml

# IDE and system files
.idea/
.vscode/
*.code-workspace
.DS_Store

# Miscellaneous
settings.json
memes/
smart-contracts/aptos
smart-contracts/gui-arena/
smart-contracts/gui_arena_abi.json

# Cache directories
.cache/
.parcel-cache
.npm
.eslintcache

# Coverage reports
coverage/
*.lcov
.nyc_output